* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-form {
    margin-top: 50px;
    padding: 20px;
    margin-bottom: 100px;
}
.login-form h2{
    margin-bottom: 20px;
}
#formlogin {
    font-size: 25px;

}
input {
    width: 50%;
    padding: 10px;
    margin: 10px;
}
.form-group{
    width: 100%;
}
.form-group button {
    width: 50%;
    padding: 10px;
    border: none;
    margin-bottom: 5px;
}
#dangnhap {
    background-color: #f83939;
    color: whitesmoke;
}

form a{
    color: black;
    font-size: 15px;
}

